@font-face {
    font-family: 'Relaway';
    src: url(../assets/fonts/Raleway-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: Relaway;
    src: url(../assets/fonts/Raleway-Italic-VariableFont_wght.ttf);
}